h1 {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: gray;
}

button {
    background-color: blue;
    color: white;
}


.myClass-heading {
    color: green;
}

#myPara {
    background-color: yellow;
}

#unique {
    background-color: aqua;
}